<footer class = "footer_wrapper">
        <div class="box box1">
            <u>О нас</u>
            <p class="author_name">Автор: Иванов Д.О.,</p>
            <p>студент группы ИКБО-30-22</p>
        </div>
        <div class="box box2">
            <u>Ссылки</u>
            <p><a href="/catalog">Растения</a></p>
            <p><a href="/plant_care">Советы</a></p>
        </div>
</footer>